* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    width: 80%;
    margin: auto;
}

#allbtn {
    font-weight: bold;
    border-radius: 10px;
    background: #0c7c59;
    color: #f4faff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#searchbtn {
    font-weight: bold;
    border-radius: 10px;
    background: #4f7cac;
    color: #f4faff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#searchbtn:hover {
    border: 2px solid #f4faff;
}

#allbtn:hover {
    border: 2px solid #f4faff;
}

#select {
    border-radius: 10px;
}
